
<form [formGroup]="loginForm" (ngSubmit)="submitData()">
    <fieldset>
        <legend>Login Form - Reactive</legend>

        <label for ="username">Username:</label>
        <input type="text" id="username" formControlName="username">
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
            <small *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.</small>
            <small *ngIf="loginForm.get('username')?.errors?.['minlength']">Username must be at least 4 characters long.</small>
        </div>
        <br>

        <label for ="password">Password:</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
            <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
        </div>
        <br>

        <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </fieldset>
