<form [formGroup]="registerForm" (ngSubmit)="submitData()">
    <fieldset>
        <legend>Register User</legend>

        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username">
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
            <small *ngIf="registerForm.get('username')?.errors?.['required']">Username is required.</small>
        </div>
        <br>

        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
            <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</small>
        </div>
        <br>

        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
            <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</small>
        </div>
        <br>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword">
        <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
            <small *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required.</small>
        </div>
        <br>

        <label for="mobilenumber">Mobile Number:</label>
        <input type="text" id="mobilenumber" formControlName="mobilenumber">
        <div *ngIf="registerForm.get('mobilenumber')?.invalid && registerForm.get('mobilenumber')?.touched">
            <small *ngIf="registerForm.get('mobilenumber')?.errors?.['pattern']">Mobile number must be 10 digits.</small>
        </div>
        <br>
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </fieldset>
</form>